{% assign url = page.url | remove: '.html' | split: '/' %}
{% assign path = url | pop %}
{% if path.size == 1 %}
  {% assign link = "/" %}
  {% assign rel = "back index" %}
  {% assign text = "Home" %}
{% else %}
  {% capture link %}
    {%- for dir in path offset: 1 -%}
      {{- dir | append: '/' | prepend: '/' -}}
    {%- endfor -%}
  {% endcapture %}
  {% assign rel = "back" %}
  {% assign text = path | last | prepend: 'Back to ' %}
{% endif %}

<nav class="iterator">
  <ol>
    {% if page.previous %}
      <li>
        <a
          role="button"
          rel="prev"
          href="{{ page.previous.url }}">{{ page.previous.title }}</a>
      </li>
    {% endif %}
    <li>
<a
          role="button"
          rel="{{ rel  }}"
          href="{{ link }}">{{ text }}</a>
    </li>
    {% if page.next %}
      <li>
        <a
          role="button"
          rel="next"
          href="{{ page.next.url }}">{{ page.next.title }}</a>
      </li>
    {% endif %}
  </ol>
</nav>
