{% assign url = page.url | remove: '.html' | split: '/' %}
{% assign path = url | pop %}
{% if path.size == 1 %}
  {% assign link = "/" %}
  {% assign rel = "back index" %}
  {% assign text = "Home" %}
{% elsif page.album.slug %}
  {% assign album_post = site.posts | where: 'slug', page.album.slug | first %}
  {% assign link = album_post.url %}
  {% assign rel = "back" %}
  {% assign text = "Back to " | append: album_post.album.kind %}
{% else %}
  {% capture link %}
    {%- for dir in path offset: 1 -%}
      {{- dir | append: '/' | prepend: '/' -}}
    {%- endfor -%}
  {% endcapture %}
  {% assign rel = "back" %}
  {% assign text = path | last | prepend: 'Back to ' %}
{% endif %}

{% assign current_categories = page.categories %}
{% assign previous_categories = page.previous.categories %}
{% assign next_categories = page.next.categories %}

<nav class="iterator">
  <ol>
    {% if page.previous and previous_categories == current_categories %}
      <li>
        <a
          class="btn"
          rel="prev"
          title="{{ page.previous.title | escape }}"
          href="{{ page.previous.url }}">{{ page.previous.title | truncate: 40 }}</a>
      </li>
    {% endif %}
    <li>
      <a
        class="btn"
        rel="{{ rel  }}"
        href="{{ link }}">{{ text }}</a>
    </li>
    {% if page.next and next_categories == current_categories %}
      <li>
        <a
          class="btn"
          rel="next"
          href="{{ page.next.url }}">{{ page.next.title }}</a>
      </li>
    {% endif %}
  </ol>
</nav>
