<tr>
  <th scope="row">Links</th>
  <td class="links">
    <ul>
      {% for item in page.links %}
        {% assign key = item.first.first %}
        {% assign value = item.first.last %}
        {% capture links_verb %}
          {%- case key -%}
            {%- when 'bandcamp' -%}Buy
            {%- when 'soundcloud' -%}Listen to
            {%- when 'apple-music' -%}Listen to
            {%- when 'spotify' -%}Listen to
            {%- when 'mirlo' -%}Listen to
          {%- endcase -%}
        {% endcapture %}
        {% capture links_url %}
          {%- case key -%}
            {%- when 'bandcamp' -%}https://bitbearmusic.bandcamp.com/{{ value }}
            {%- when 'soundcloud' -%}https://soundcloud.com/bitbear/{{ value }}
            {%- when 'apple-music' -%}https://music.apple.com/us{{ value }}
            {%- when 'spotify' -%}https://open.spotify.com{{ value }}
            {%- when 'mirlo' -%}https://mirlo.space/bitbear/release/{{ value }}
          {%- endcase -%}
        {% endcapture %}
        {% capture title %}
          {{- links_verb }} “{{ page.title }}” {% comment %}{% endcomment %}
          {%- if key == 'apple-music' -%}
            on Apple Music
          {%- else -%}
            on {{ key | capitalize }}
          {%- endif -%}
        {% endcapture %}
        <li class="{{ key }}">
          <a href="{{ links_url }}" target="_blank" aria-description="{{ title }}" data-tooltip="{{ title }}">
            <span class="icon icon-{{ key }}" role="img" aria-label="{{ title }}"></span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </td>
</tr>
