---
layout: default
---

<h2>{{ page.title }}</h2>

{% assign tracks = site.posts | where: 'album.slug', page.slug | sort_by: 'album.position' %}
{% assign album_tags = "" | split: "" %}
{% for track in tracks %}
  {% assign album_tags = album_tags | concat: track.tags %}
{% endfor %}
{% assign album_tags = album_tags | uniq %}

{% if page.media or page.album or page.links %}
  {% assign soundcloud_link = page.links | link_by_brand: 'soundcloud' %}
  {% assign youtube_link = page.links | link_by_brand: 'youtube' %}
  {% assign youtube_id = youtube_link | youtube_id %}
  <div class="media">
    <aside>
      <table>
        <tbody>
          <tr>
            <th scope="row">Released</th>
            <td class="date"><time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string: 'ordinal', 'US' }}</time></td>
          </tr>
          {% if page.album.kind %}
            <tr>
              <th scope="row">Kind</th>
              <td class="kind">{{ page.album.kind }}</td>
            </tr>
          {% endif %}
          {% if tracks.size > 0 %}
            <tr>
              <th scope="row">Tracks</th>
              <td class="tracks">{{ tracks.size }}</td>
            </tr>
          {% endif %}
          {% include genres_table_row.html tags=album_tags %}
          {% include remix_kit_row.html %}
          {% if page.links %}
            {% include links.html %}
          {% endif %}
          {% if soundcloud_link %}
            <tr>
              <th scope="row">Listen</th>
              <td>
                <iframe width="100%"
                        height="20"
                        scrolling="no"
                        frameborder="no"
                        allow="autoplay; encrypted-media"
                        src="https://w.soundcloud.com/player/?url={{ soundcloud_link | url_encode }}&color=%2341228e&inverse=true&auto_play=false&show_user=true"></iframe>
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
      {% if tracks.size > 0 %}
        <div class="tracks">
          <h3>Track Listing</h3>

          <ol>
            {% for track in tracks %}
              <li>
                <a href="{{ track.url }}">{{ track.title }}</a>
              </li>
            {% endfor %}
          </ol>
        </div>
      {% endif %}

    </aside>

    {% if page.media.cover %}
      {% include cover.html title=page.title cover=page.media.cover youtube=youtube_id %}
    {% endif %}
  </div>
{% endif %}

<h3>Description</h3>

{{ content }}

{% include iterator.html %}
