name: build

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          rubygems: 3.4.10
          bundler-cache: true

      - name: jekyll build
        run: bundle exec rake build

      - name: upload site
        uses: actions/upload-artifact@v6
        with:
          name: site
          path: _site
