name: test

on: [push, pull_request]

jobs:
  build:
    uses: ./.github/workflows/_build.yml

  htmlproofer:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: site
          path: _site

      - name: htmlproofer cache
        uses: actions/cache@v5
        with:
          path: tmp/.htmlproofer
          key: ${{ runner.os }}-htmlproofer

      - uses: chabad360/htmlproofer@v2
        with:
          directory: _site
          arguments: |
            --ignore-status-codes "429,302"
            --ignore-urls "/twitter.com/,/demozoo.org/"
            --hydra '{ "max_concurrency": 1 }'

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          rubygems: 3.4.10
          bundler-cache: true

      - name: rspec
        run: bundle exec rake spec

      - name: codecov upload
        run: bundle exec rake codecov:upload || echo 'Codecov upload failed'

      - name: rubocop
        run: bundle exec rubocop --fail-level warning --display-only-fail-level-offenses

  download-site:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: site
          path: _site
