name: test

on: [push, pull_request]

env:
  RUBY_VERSION: 3.2
  RUBYGEMS_VERSION: 3.4.10

jobs:
  build:
    uses: ./.github/workflows/_build.yml

  htmlproofer:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          name: site
          path: _site

      - name: htmlproofer cache
        uses: actions/cache@v5
        with:
          path: tmp/.htmlproofer
          key: ${{ runner.os }}-htmlproofer

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          rubygems: ${{ env.RUBYGEMS_VERSION }}
          bundler-cache: true

      - name: htmlproofer
        run: bundle exec rake htmlproofer

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          rubygems: ${{ env.RUBYGEMS_VERSION }}
          bundler-cache: true

      - name: rspec
        run: bundle exec rake spec

      - name: codecov upload
        run: bundle exec rake codecov:upload || echo 'Codecov upload failed'

      - name: rubocop
        run: bundle exec rubocop --fail-level warning --display-only-fail-level-offenses
